<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is an EJS Home page  </h1>
    <p>welcome to EJS contemplating file </p>
    
    <% if (name === 'Paul') { %>
        <h2>Hello, Paul!</h2>
    <% } else { %>
        <p>Hello, Guest!</p>
    <% } %>
</body>
</html>